header {
    justify-content: space-between;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(3px);
    height: 40px;
    padding: 10px 20px;
    border-bottom: 1.5px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 2;
}

header > div:first-child {
    gap: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

header > div:last-child > span {
    cursor: pointer;
    transition: opacity .5s;
}
header > div:last-child > span:hover { opacity: .5; }
