div#informations {
    align-items: center;
    gap: 20px;
}

div#informations > * {
    gap: 20px;
    width: 80vw;
    max-width: 700px;
}

div#informations > hr {
    width: 80vw;
    height: 1.5px;
    border: 0;
    background-color: var(--border-color);
}

div#informations > div >ul {
    margin: 0;
}