:root {
    --primary-color: #6b9080;
    --secondary-color: #a4c3b2;
    --background-color: #f6fff8;
    --surface-color: #eaf4f4;
    --text-color: #060a0e;
    --text-muted: #52796f;
    --border-color: #e2e3e4;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    font-style: italic;
}

* {
    user-select: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

img, svg {
    -webkit-user-drag: none;
}

html { 
    overflow-x: hidden; 
    overflow-y: auto;
    scroll-behavior: smooth; 
}

body {
    width: 100vw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    background-color: color-mix(in srgb, var(--background-color) 10%, transparent);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}
body > div { flex: 1; }

h1, h2, h3, h4, h5, h6, p { margin: 0; }

small { color: var(--text-muted); }

button {
    padding: .5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--text-color);
    color: var(--background-color);
    border: 0;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s;
}
button > svg * { color: var(--background-color); }
button:hover { opacity: .8; }
button:active { opacity: .6; }
button:disabled { pointer-events: none; opacity: .5; }

.row { display: flex; align-items: center; }
@media (max-width: 650px) {
    .row { flex-wrap: wrap; }
}
.column { display: flex; flex-direction: column; }