:root {
    --primary-color: #7f9c9f;
    --secondary-color: #5fa8a3;
    --accent-color: #8c9eff;
    --background-color: #e8f1f2;
    --text-color: #060a0e;
    --border-color: #a3d2ca;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    font-style: italic;
}

* {
    user-select: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

img, svg {
    -webkit-user-drag: none;
}

html { overflow-x: hidden; scroll-behavior: smooth; }
body {
    width: 100vw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    touch-action: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
body > div { flex: 1; }

small { color: var(--secondary-color); }

.row { display: flex; align-items: center; }
@media (max-width: 650px) {
    .row { flex-wrap: wrap; }
}
.column { display: flex; flex-direction: column; }